{{> header }}

<div class="main-container cont">
	<div class="main int">
		{{{img "logo.png"}}}
		<p>We're building a community of frontend developers in Copenhagen.<br> We share ideas and talk about our projects.</p>
	</div>
</div>

<div class="events-container cont">
	<div class="events int">
		<h1>Next event</h1>
		<div class="event">
			<h2>Copenhagen Frontenders April</h2>
			<div class="when">
				When: <a href="http://www.meetup.com/Copenhagen-Frontenders/events/221475238/">April 22, 7 PM</a>
			</div>
			<div class="where">
				Where: <a href="https://www.google.dk/maps/place/Pilestr%C3%A6de+43,+1112+K%C3%B8benhavn+K/@55.6811462,12.579215,17z/data=!3m1!4b1!4m2!3m1!1s0x46525310a82927d1:0xa3f8d542574de862?hl=da">Robocat</a>
			</div>

			<div class="description">
				<p>This is our first meetup. Snacks and drinks kindly are sponsored by Robocat. <br><a href="http://www.meetup.com/Copenhagen-Frontenders/events/221475238/">RSVP on Meetup</a>.</p>
				
				The planned talks for this event are:
				<ul>
					<li>Static Websites with Gulp & AWS (<a href="http://twitter.com/ksmandersen">Kristian Andersen</a>, Robocat)</li>
					<li>React.js and Flux (<a href="http://twitter.com/soren_sengel">Søren Engel</a>, Netcompany)</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{> footer }}