{{> header }}

<div class="main-container cont">
	<div class="main int">
		{{{img "logo.png"}}}
		<p class="community">We're building a community of frontend developers in Copenhagen.<br> We share ideas and talk about our projects.</p>
	</div>
</div>

<div class="events-container cont">
	<div class="events int future">
		<div class="event">
			<a class="title" href="http://www.meetup.com/Copenhagen-Frontenders/events/222887885/"><h2>Copenhagen Frontenders June</h2></a>
			<div class="when">
				When: <a href="http://www.meetup.com/Copenhagen-Frontenders/events/222887885/">June 25, 7 PM</a>
			</div>
			<div class="where">
				Where: <a href="https://www.google.com/maps/place/Gr%C3%B8nningen+17,+1270+K%C3%B8benhavn+K,+Denmark/@55.6896564,12.5899833,17z/data=!3m1!4b1!4m2!3m1!1s0x4652531fbeb7fbf7:0xca1c40b247b71a4b?hl=da">Netcompany</a>
			</div>
			<div class="description">
				<p>This time we are kindly hosted by Netcompany who will provide us with food and drinks. Please note that there is a 40 people limit to this event. Please only RSVP yes if you plan to come. If your plans change please update your RSVP.</a>

				<br><br>

				<a href="http://www.meetup.com/Copenhagen-Frontenders/events/222887885/">RSVP on Meetup</a>.</p>
				
				The scheduled talks for this event are:
				<ul>
					<li>UI principles and practices at Netcompany</li>
					<li>Fast &amp; Responsive: Strategies for Mobile Web Sites (<a href="http://kristian.co/">Kristian Andersen</a>, Robocat)</li>
					<li>Making Monoid: Type Design, GitHub Automation and Website Setup (<a href="http://larsenwork.com/monoid/">Andreas Larsen</a>)</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="events int past">
		<h1>Past events</h1>
		<div class="event">
			<a class="title" href="http://www.meetup.com/Copenhagen-Frontenders/events/222040789/"><h2>Copenhagen Frontenders May</h2></a>
			<div class="when">
				When: <a href="http://www.meetup.com/Copenhagen-Frontenders/events/222040789/">May 26, 7 PM</a>
			</div>
			<div class="where">
				Where: <a href="https://www.google.dk/maps/place/Pilestr%C3%A6de+43,+1112+K%C3%B8benhavn+K/@55.6811462,12.579215,17z/data=!3m1!4b1!4m2!3m1!1s0x46525310a82927d1:0xa3f8d542574de862?hl=da">Robocat</a>
			</div>

			<div class="description">
				<p>We are once again kindly sponsored by Robocat &amp; Spilhuset who will provide location, beers and snacks. </p>

				<p>If you work in a company who would be interested in hosting or sponsoring our next event, please contact me. I would also like to hear from anyone able to present. Any topics related to Frontend Development are welcome. I can be reached on Twitter as <a href="http://twitter.com/ksmandersen/">@ksmandersen</a> or on email at <a href="mailto:hello@kristian.co">hello@kristian.co</a></p>

				<a href="http://www.meetup.com/Copenhagen-Frontenders/events/222040789/">RSVP on Meetup</a>.</p>
				
				The planned talks for this event are:
				<ul>
					<li>React.js &amp; Flux (<a href="http://twitter.com/soren_sengel">Søren Engel</a>, Netcompany). <a href="https://speakerdeck.com/soen/introduction-to-react" title="">Slides</a>, <a href="https://github.com/soen/react-todo-demo" title="">Code</a></li>
					<li>WebRTC (<a href="http://twitter.com/philnash">Phil Nash</a>, Twillo). <a href="https://speakerdeck.com/philnash/whatrtc-everything-you-need-to-know-to-connect-browsers-to-the-world-front-trends-2015" title="">Slides</a></li>
					<li>BEM &amp; OOCSS (<a href="http://cbp.io/">Christian Petersen</a>)</li>
				</ul>
			</div>
		</div>
		<div class="event">
			<a class="title" href="http://www.meetup.com/Copenhagen-Frontenders/events/221475238/"><h2>Copenhagen Frontenders April</h2></a>
			<div class="when">
				When: <a href="http://www.meetup.com/Copenhagen-Frontenders/events/221475238/">April 22, 7 PM</a>
			</div>
			<div class="where">
				Where: <a href="https://www.google.dk/maps/place/Pilestr%C3%A6de+43,+1112+K%C3%B8benhavn+K/@55.6811462,12.579215,17z/data=!3m1!4b1!4m2!3m1!1s0x46525310a82927d1:0xa3f8d542574de862?hl=da">Robocat</a>
			</div>

			<div class="description">
				<p>This is our first meetup. Snacks and drinks kindly are sponsored by Robocat. <br><a href="http://www.meetup.com/Copenhagen-Frontenders/events/221475238/">RSVP on Meetup</a>.</p>
				
				The planned talks for this event are:
				<ul>
					<li>Static Websites with Gulp & AWS (<a href="http://twitter.com/ksmandersen">Kristian Andersen</a>, Robocat). <a href="https://speakerdeck.com/ksmandersen/static-websites-with-gulp-and-aws">Slides</a>, <a href="http://github.com/ksmandersen/startover/">Startover</a></li>
					<li>Moved to our May event. <span style="text-decoration: line-through">React.js and Flux (<a href="http://twitter.com/soren_sengel">Søren Engel</a>, Netcompany)</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{> footer }}