$asset-pipeline: true;
$max-width: 820px;

@import "_normalize";

@import "bourbon";
@import "neat";

@import "_mixins";
@import "_shared";


body, p, span, li, a {
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 14pt;
	line-height: 1.2em;
}

h1 {
	text-align: center;
}

a {
	color: #000;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.container {
	padding: 0 10px;
}

.main {
	text-align: center;

	h1 {
		color: #333;
	}

	.community {
		color: #666;
	}
}

.events {
	margin-bottom: 80px;

	.event {
		margin-top: 60px;

		.title {
			color: rgb(57, 189, 124);
		}

		.description {
			ul {
				margin-top: 5px;
			}
		}
	}

	&.future {
		margin-bottom: 100px;
	}
}
